*{
  margin:0;
  padding:0;
}

section{
  color#FFFFFF;
}

body{
  font-family:PT Mono;
  background:url("../images/brickwall2.png");
}
body h2 p {
    font-family:PT Mono;
}

/*
section iframe{
  margin: 0 auto;
  frameborder="0" ;
  border:0;
}*/

#background{
background-color: white;
border-radius:10px;
margin: 40px;
margin-top:-70px;
}
section location{

margin:20px;
}

#location{
  text-align: center;
}
#location figure{
  vertical-align: middle;
  display:inline-block;
  margin-top: 50px;
  margin:10px;
}

#location figure iframe{
  width: 300px;
  height:300px;
  margin: auto;
  text-align:center;
}
#map{
border: 10px solid black;
}
nav{
  width: 100%;
  margin:5px;
  text-align: center;
  border-bottom: 1px solid black;
}
nav a{

  text-decoration: none;
  font-weight: bold;
  font-family:PT Mono;
  font-size: 1.2em;
  text-transform: uppercase;
}
nav button{
    margin:6px;
    font-family:PT Mono;
    font-size: 6em;
}
/*to hide the drop down options*/
.hidden{
  display: none;
}
ul .hidden{
  display: none
}
/*#mapcontainer{
  text-align: center;
  height: auto;
}
#map{
  width: 600px;
  height: 400px;
}*/
@media (max-width:700px) {
  #location figure{
    display: block;
  }
  #location figure{
    display:block;
    margin:30px;
  }
}
