body{
  font-family: PT Mono;
}
header{
  height: 350px;
}
#banner h1{

  font-family: Abril Fatface;
  margin-top: 5px;
  font-size: 7em;

}
#banner h2{
  font-size: 5em;
}
#background a{
font-family: PT Mono;
}

.wrapper{
  font-family: PT Mono;
  width: 75%;
  margin: auto;
  text-align: center;
}

.wrapper h2{
  margin-top: 5%;
  text-align: center;
}
figure figcaption{
  font-size: 2em;
}
#addr{
  font-size:2.5em;
}

div img{
  width:70%;
  margin: auto;
  height: auto;
}

@media (max-width:700px) {
  figure figcaption, #addr address{
    font-size: 1em;
  }
 }
