*{
  margin:0;
  padding:0;
}
nav{
  margin: 20px;
  padding:10px 10px 10px 10px;
  text-align: center;
  background:url("../images/wood.png");
   background-position: center;
   background-repeat: no-repeat;
   background-size: 900px 100px;

}
nav ul{
  list-style-type: none;
}
nav ul li{
  display: inline;
  padding: 2px 10px 2px 10px;
}
nav li a{
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  color:white;
  text-transform: uppercase;
}
h2{
  font-size: 2em;
}


/*to hide the drop down options*/
.hidden{
  display: none;
}
ul .hidden{
  display: none
}

section{
  color#FFFFFF;
}

figure img{
  position: absolute;
  left: 870px;
  top:20px;
  height: 210px;
  width: 210px;

}
# figure1{

}

body{
  background:url("../images/brickwall.jpg");
}
address h2{
  font-size: 5em;
}
section iframe{
  margin: 0 auto;
  width="600";
  height="450" ;
  frameborder="0" ;
  border:0;
}
#mapcontainer{
  text-align: center;
}



footer{
  margin-bottom: 0%;
  background-color:orange;
  text-align: center;
  padding:2em 0 2em 0;
  border-top:solid 2px #FFFFFF;
  font-style: italic;
  color: white;

}

fieldset{

}
footer img{
    width:70px;
    height:70px;
    border:0;
}

/*Nav Styles*/
nav ul{
  list-style-type: none;
}
nav ul li{
  display: inline;
}

/*to hide the drop down options*/
.hidden{
  display: none;
}
ul .hidden{
  display: none
}

#facebookicon{
position:relative;
width: 4em;
height: 4em;

}
#images{
  text-align: center;
}
#banner{
  background-image: url("../images/food/trasparentcolor-image.png");
  background-size: 100%;
  background-repeat: no-repeat;
  height:250px;


}
#banner h1{
  color: #ffff66;
  font-family:Abril Fatface, sans-serif;
  text-align: center;
  text-shadow: 2px 2px 1px #333333;
  font-size:6em;
  padding-top: 20px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);

}
#banner h2{
  color:#ffcc66;
  text-align: center;
  font-size:3em;
  padding-top: 18px;

}
#banner figure{


}
#figure1{

}
/*Ul that go inline*/

}
