body{
  text-align: center;
  font-family: sans-serif;

}

section button{
  width: 400px;
  margin:auto;
  margin-bottom: 2em;
  background-color: white;
  border: 3px solid gray;
  color:black;
  padding: 15px 32px;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  display: block;
  background-size: cover;

}
.hidden{
  background-color: #FFFFFF;
  list-style-type:none;
  display: none;
  width:30%;
  margin: 0 auto;
  margin-top:-2%;
  text-align: left;
 }



.hidden .inliners li{

  display: inline-block;
  line-height: 25px;
}
main h2{
  margin-top: 2%;
  margin-bottom: 2%;
  letter-spacing: 2%;
}

#background {
  margin-top: 3%;

}
#eggPlaters{
  background-image: url("../images/eggbutton.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#sandwichbutt{

  background-image: url("../images/sandwichbutton.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#frenchtostbutt{
  background-image: url("../images/toastbutton.png");
}
/*
@media only screen and (max-width: 738px) {

  section button{
    width: 95%;
    margin-left:2%;
    margin-right: :2%;

  }
}*/
