.slideshow-container {
    font-family: Abril Fatface, Arial, Helvetica, sans-serif;
    width: 380px;
    height: 350px;
    margin: 0 auto;

}
.slideshow-container h1, h2, ul, p {
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}
.slideshow-container h1 {
  padding-bottom: .25em;
  color: blue;
}
.slideshow-container h2{
  font-size: 120%;
  padding: .5em 0;

}
.slideshow {
  border-radius: 25px;
  height: 250px;
  width: 500px;
}
.slideshow-container img {
  border-radius: 25px;
  height: 250px;
}
#slides img {
  display: none;
}
