.slideshow-container {
    font-family: Abril Fatface, Arial, Helvetica, sans-serif;
    width: 100%;
    height:auto;
    margin: 0 auto;

}
.slideshow-container h1, h2, ul, p {
  color: black;
  text-align: center;
  margin: 0;
  padding: 0;
}
.slideshow-container h1 {
  padding-bottom: .25em;

}
.slideshow-container h2{
  font-size: 1.2em;
  padding: .5em 0;

}
.slideshow {//width and height of container
  height:100%;
  width: 100%;

}
.slideshow-container img {//heigh and width slishow
  border-radius: 10px;
  height: 300px;
  width: 90%;
}
#slides img {
  display: none;
}
